/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

 .col.grid-example {
  position: relative;
  border: 1px solid #eee;
  margin: 0px 0px;
  text-align: center;
  line-height: 1.8rem;
  font-size: 28px;
  background-color: teal;
  color: white;
  padding: 0;
}

 .col.grid-example.black-text {
  line-height: 50px;
}

@media only screen and (max-width: 359px) {
  .col.grid-example {
  font-size: 1.224rem;
  } 
}

.set-height {
  height: 100px;
}

.row .col.s2-4 {
      width: 20%;
      margin-left: 0; 
}


.header {
  text-shadow:0px 0px 10px #333;
}

h7 {
  font-weight: bold;
}

.bold {
  font-weight: 700;
}

.bolder {
  font-weight: 900;
}

.toptoucher {
  position: relative;
  top: -12px;
  margin: 0rem 0rem 0rem 0rem;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px; 
  text-shadow: 0px 5px 10px #333;
}

.move-icon {
  position: relative;
  top: 25px;
  margin-right: 20px;
}

.no-bottom-pad {
  margin-bottom: 0px;
  position: relative;
}

/*.row .unpadded {
  padding: 0px 0px 0px 0px;
}*/

.backed {
  background-color: rgba(0,0,0,.5);
  text-shadow:0px 0px 20px #999;
  margin-bottom: 5vw;
  border-radius: 5px;
}


.smallerfont { 
  font-size: 1.6rem;
}


nav ul a,
nav .brand-logo {
  color: #333;
}

.larger-p {
  line-height: 2rem;
  font-size: 1.2rem;
}

.button-collapse {
  color: #2196F3;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }

.icon-block {
  padding: 0 15px;
}

footer.page-footer {
  margin: 0;
}

.teal-triangle {
  position: absolute;
  top: 0px;
  right: -75px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 51px 0 0 75px;
  border-color: transparent transparent transparent teal;
}

.orange-triangle {
  position: absolute;
  top: 0px;
  right: -75px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 51px 0 0 75px;
  border-color: transparent transparent transparent #ffc107;
}

.blue-triangle {
  position: absolute;
  top: 0px;
  right: -75px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 51px 0 0 75px;
  border-color: transparent transparent transparent #42A5F5;
}

.parallax-container {
      height: 500px;
}

.quotes {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 7%;
}

.megatext {
  font-weight: 900;
  font-size: 120px;
  text-shadow:0px 0px 10px #333;
}

.image-margin {
  margin-left: 1%;
  margin-right: 1%;
  margin-top: 2%;
  box-shadow: 0px 0px 4px #64B5F6;
}

.vidplayer {
  background-color: black;
  width: 100%;
  height: 311px;
  margin-top: 1em;
  border: 3px solid #64B5F6;
  border-radius: 3px; 
  box-shadow: 0px 0px 10px #64B5F6;
}

.vidplayer-on-white {
  border: 3px solid #A8D5F9;
  box-shadow: 0px 0px 7px #A8D5F9;
}

.small-parallax {
  height: 40px;
  min-height: 0px;
  margin-bottom: 20px;
  background-color: rgba(58, 128, 236,.5);
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    /top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
    .megatext {
  font-size: 12.5vw;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

w {
  color: white;
}

b {
  font-weight: bold;
}

@media only screen and (max-width: 1200px) {
  .teal-triangle {
  display: none;
  }

.orange-triangle {
  display: none;
  }

.blue-triangle {
  display: none;
  }
}


